body
{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color:#e3e3e3;
}

#header
{
    float: left;
    background-color: rgb(151, 0, 0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

#logo
{
    float: left;
    width: 150px;
    height: 60px;
    /*border: 1px solid #FFF;*/
    margin: 2px;
}

#titulo a
{
    float: left;
    /*border: 1px solid yellow;*/
    color: #DDD;
    margin: 6px 3px 6px 20px;
    text-decoration: none;
}

#titulo a:hover
{
    color: $FFF;
}

#content
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    /*border: 1px solid green;*/
}

#footer
{
    color: #FFF;
    background-color: #666;
    border-top: 1px solid #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#footer-content
{
    padding: 10px 5px;
    text-align: center;
    font-weight: bold;
}