{% extends 'base.html' %}

{% block corpo %}
    <a href="/novoregistro/">Novo Registro</a>
    <ul>
        {% for registro in lista_registros %}
            <li>
                <a href="/removeregistro/{{ registro.id }}">
                    <img src="/media/imagens/lixeira.png" />
                </a>
                <a href="/registro/{{ registro.id }}">
                    {{ registro.dia|date:'d/m/Y'}} - {{ registro.hora }} ({{ registro.tipo }})
                </a>
            </li>
        {% empty %}
            <li>Sem itens na lista</li>
        {% endfor %}
    </ul>
{% endblock %}